job_search_modified.json
{
  "id": "DG3QZT3yC9xTdJbG",
  "name": "job search",
  "active": false,
  "isArchived": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "nodes": [
    {
      "parameters": {
        "content": "## 🎯 SMART JOB HUNTER + COVER LETTER GENERATOR\n\n### 🚀 What This Workflow Does:\n\n1. **User Submission**\n   - User upload CV (PDF) + preferences (location, job type, salary, etc.)\n   - Triggered by Form node\n\n2. **Extract CV**\n   - PDF text extracted\n   - Stored in `cvData`\n\n3. **Prepare Data**\n   - Collects all form fields (location, work setting, job type, salary, email)\n   - Normalized into JSON variables\n\n4. **Job Hunter Agent**\n   - Uses SerpAPI + Gemini LLM\n   - System prompt forces **ONLY 1 job result**\n   - Returns structured JSON with cover letter\n\n5. **Parse Agent Output**\n   - Cleans JSON (removes ```json fences)\n   - Ensures valid JSON for downstream\n\n6. **Generate HTML Email**\n   - Builds clean email template\n   - Inserts candidate profile + job match + cover letter + application tips\n\n7. **Send via Gmail**\n   - Sends final email to user’s address\n   - Subject: *Your Job MATCH!*\n",
        "height": 864,
        "width": 500,
        "color": 5
      },
      "id": "6123afdc-c6cb-4c5e-b461-b926008a8d89",
      "name": "Sticky Note - How It Works",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -112,
        80
      ]
    },
    {
      "parameters": {
        "content": "## ⚙️ SETUP GUIDE (Updated)\n\n### 1. Google Gemini (Required)\n* Go to [Google AI Studio](https://aistudio.google.com/)\n* Create Gemini API key\n* Add it to n8n credentials (`Google Palm / Gemini`)\n* Model used: **Gemini 2.5 Pro**\n\n### 2. SerpAPI (Required)\n* Go to [SerpAPI Dashboard](https://serpapi.com/)\n* Create API key\n* Add it to n8n credentials (`SerpAPI`)\n* Used by workflow to fetch **Google Jobs search results**\n\n### 3. Form Configuration\n* Form webhook auto-generated by n8n\n* Share form link directly with users\n* Or embed form in your website\n",
        "height": 528,
        "width": 380,
        "color": 4
      },
      "id": "f91729f0-f018-48d7-8283-b35ec2b3a271",
      "name": "Sticky Note - Setup Guide",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -928,
        416
      ]
    },
    {
      "parameters": {
        "content": "## 🛠️ Customization Tips\n\n- **Prompt**:\n  Adjust system message in Job Hunter Agent to refine tone/length of cover letter.\n\n- **Email Branding**:\n  Update footer in HTML email (currently: *Generated by khmuhtadin.com*).\n\n- **Job Filters**:\n  Extend Prepare Data node to pass blacklist, industries, or company size.\n\n- **LLM Model**:\n  Currently using Google Gemini (Gemini 2.5 Pro).\n  Switch to GPT-4o or Claude 3.5 Sonnet if available for better reasoning.\n\n- **Attachments**:\n  Optionally attach parsed CV summary as PDF for user reference.\n",
        "height": 528,
        "width": 360,
        "color": 3
      },
      "id": "fb2f1f6f-7638-4502-9c7d-b2a45bc0d8bd",
      "name": "Sticky Note - Pro Tips",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -512,
        416
      ]
    },
    {
      "parameters": {
        "formTitle": "🎯 Smart Job Hunter + Cover Letter Generator",
        "formDescription": "Upload your CV and let AI find perfect jobs with custom cover letters!",
        "formFields": {
          "values": [
            {
              "fieldLabel": "CV/Resume (PDF)",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".pdf",
              "requiredField": true
            },
            {
              "fieldLabel": "Preferred Location",
              "placeholder": "e.g., Jakarta, Bandung, Remote, Anywhere",
              "requiredField": true
            },
            {
              "fieldLabel": "Country Code",
              "placeholder": "e.g. in, us, gb",
              "requiredField": true
            },
            {
              "fieldLabel": "Job Type",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Full Time"
                  },
                  {
                    "option": "Part Time"
                  },
                  {
                    "option": "Freelance"
                  },
                  {
                    "option": "Contract"
                  },
                  {
                    "option": "Internship"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Work Setting",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "On Site"
                  },
                  {
                    "option": "Remote"
                  },
                  {
                    "option": "Hybrid"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Minimum Salary Expectation (Optional)",
              "placeholder": "e.g., 10 juta, 15-20 juta, negotiable"
            },
            {
              "fieldLabel": "Additional Preferences (Optional)",
              "fieldType": "textarea",
              "placeholder": "e.g., startup culture, specific companies, must have BPJS"
            },
            {
              "fieldLabel": "Adzuna App ID",
              "requiredField": true
            },
            {
              "fieldLabel": "Adzuna App Key",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "We will send the results to this email",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "ada404d2-1523-47ab-a57a-e050efbdd28c",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -1744,
        112
      ],
      "webhookId": "7d7bf349-bf32-43e5-bf42-3450fe917c6f"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "CV_Resume__PDF_",
        "options": {}
      },
      "id": "84b2f806-8b90-44d5-ae30-749b18b4bbb1",
      "name": "Extract CV from PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1520,
        112
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ce5f3a96-c63d-40fa-b02c-8d763bfa2ed1",
              "name": "cvData",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "id": "51623c31-dacf-4828-b1ac-f03f67e00d54",
              "name": "location",
              "type": "string",
              "value": "={{ $('On form submission').item.json['Preferred Location'] }}"
            },
            {
              "id": "country-code",
              "name": "country",
              "type": "string",
              "value": "={{ $('On form submission').item.json['Country Code'] }}"
            },
            {
              "id": "068b13d5-6941-415d-935b-4936e42df913",
              "name": "workSetting",
              "type": "string",
              "value": "={{ $('On form submission').item.json['Work Setting'] }}"
            },
            {
              "id": "e1636d57-472b-4886-b631-5deb45b103a3",
              "name": "jobType",
              "type": "string",
              "value": "={{ $('On form submission').item.json['Job Type'] }}"
            },
            {
              "id": "salary-expectation",
              "name": "salaryExpectation",
              "type": "string",
              "value": "={{ $('On form submission').item.json['Minimum Salary Expectation (Optional)'] || 'Not specified' }}"
            },
            {
              "id": "additional-prefs",
              "name": "additionalPreferences",
              "type": "string",
              "value": "={{ $('On form submission').item.json['Additional Preferences (Optional)'] || 'None' }}"
            },
            {
              "id": "adzuna-app-id",
              "name": "adzunaAppId",
              "type": "string",
              "value": "={{ $('On form submission').item.json['Adzuna App ID'] }}"
            },
            {
              "id": "adzuna-app-key",
              "name": "adzunaAppKey",
              "type": "string",
              "value": "={{ $('On form submission').item.json['Adzuna App Key'] }}"
            },
            {
              "id": "user-email",
              "name": "userEmail",
              "type": "string",
              "value": "={{ $('On form submission').item.json['Email'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "658fc781-5503-46a6-b66f-a27617b89038",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1296,
        112
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.adzuna.com/v1/api/jobs/' + $json.country + '/search/1' }}",
        "authentication": "none",
        "sendQuery": true,
        "specifyQuery": "keypair",
        "queryParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "={{ $json.adzunaAppId }}"
            },
            {
              "name": "app_key",
              "value": "={{ $json.adzunaAppKey }}"
            },
            {
              "name": "what",
              "value": "={{ $json.jobType }}"
            },
            {
              "name": "where",
              "value": "={{ $json.location }}"
            },
            {
              "name": "results_per_page",
              "value": "3"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "19e0b56c-3a25-4383-92f4-c6c72f8fba9c",
      "name": "Adzuna Job Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1184,
        -48
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ \n`ANALYZE CV AND MATCH TO JOB LISTINGS:\n\nCV Content:\n${$('Prepare Data').item.json.cvData}\n\nUser Preferences:\n- Location: ${$('Prepare Data').item.json.location}\n- Work Setting: ${$('Prepare Data').item.json.workSetting}\n- Job Type: ${$('Prepare Data').item.json.jobType}\n- Salary: ${$('Prepare Data').item.json.salaryExpectation}\n- Additional: ${$('Prepare Data').item.json.additionalPreferences}\n\nAdzuna Job Listings (real data):\n${JSON.stringify($json.results)}\n\nTASKS:\n1. Extract key info from CV (name, skills, experience, achievements)\n2. From the Adzuna listings above, pick the single best matching job\n3. Generate a personalized cover letter for that job (250-350 words)\n4. Return ONLY valid JSON as specified in your system prompt`\n}}",
        "options": {
          "systemMessage": "You are an expert Job Hunter AI. You will receive a list of real job listings as JSON. Your tasks:\n1. Analyze the CV to extract candidate name, skills, experience level, and key strengths.\n2. From the provided job listings, pick the single best matching job.\n3. Write a personalized cover letter for that job (250-350 words).\n4. Return ONLY a valid JSON object with this exact structure:\n{\n  candidateName, candidateExperience, candidateSkills, candidateLevel, candidateStrength,\n  job: { title, company, location, salary, postedDate, applyUrl, whyMatch[], coverLetter },\n  applicationTips: { bestTime, keywords, followUp, interviewPrep }\n}\nNo extra text. No markdown. Pure JSON only."
        }
      },
      "id": "2d345f34-bcdc-422b-bc7e-a84ef8003cc9",
      "name": "Job Hunter Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1072,
        112
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "id": "8700a3d7-9721-4e2d-bd9d-e49328a9f48f",
      "name": "Groq LLaMA",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1072,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "const jobData = $json;\nconst job = jobData.job || null;\n\n// Build HTML email\nconst htmlEmail = `\n<!DOCTYPE html>\n<html lang=\"id\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Your Job Match</title>\n</head>\n<body style=\"margin:0; padding:0; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color:#f4f7fa;\">\n  <table role=\"presentation\" width=\"100%\" style=\"background-color:#f4f7fa;\">\n    <tr>\n      <td align=\"center\" style=\"padding:40px 20px;\">\n        <table role=\"presentation\" width=\"600\" style=\"background:#fff; border-radius:10px; box-shadow:0 4px 6px rgba(0,0,0,0.1);\">\n\n          <!-- Header -->\n          <tr>\n            <td style=\"background:linear-gradient(135deg,#667eea 0%,#764ba2 100%); padding:40px; border-radius:10px 10px 0 0; text-align:center;\">\n              <h1 style=\"margin:0; color:#fff; font-size:28px;\">🎯 Your Job Match Is Ready!</h1>\n            </td>\n          </tr>\n\n          <!-- Profile Summary -->\n          <tr>\n            <td style=\"padding:30px;\">\n              <div style=\"background:#f8f9fa; border-radius:8px; padding:20px; margin-bottom:30px;\">\n                <h2 style=\"margin:0 0 15px 0;\">👤 Profile Summary</h2>\n                <p><strong>Name:</strong> ${jobData.candidateName || 'N/A'}</p>\n                <p><strong>Experience:</strong> ${jobData.candidateExperience || 'N/A'}</p>\n                <p><strong>Skills:</strong> ${(jobData.candidateSkills || []).join(', ')}</p>\n                <p><strong>Level:</strong> ${jobData.candidateLevel || 'N/A'}</p>\n              </div>\n\n              <!-- Job Match -->\n              ${job ? `\n              <div style=\"border:1px solid #e0e0e0; border-radius:8px; padding:20px; margin-bottom:25px;\">\n                <div style=\"background:linear-gradient(135deg,#f093fb 0%,#f5576c 100%); color:white; padding:8px 16px; border-radius:20px; font-weight:600; font-size:14px; display:inline-block; margin-bottom:15px;\">\n                  🥇 BEST MATCH\n                </div>\n\n                <h3>${job.title}</h3>\n                <p>🏢 ${job.company} | 📍 ${job.location}</p>\n                <p>💰 ${job.salary} | 📅 Posted ${job.postedDate}</p>\n\n                <div style=\"background:#f8f9fa; padding:12px; border-radius:6px; margin:15px 0;\">\n                  <p style=\"margin:0 0 8px 0; font-weight:600;\">Why this matches:</p>\n                  <ul>${(job.whyMatch || []).map(r => `<li>${r}</li>`).join('')}</ul>\n                </div>\n\n                <a href=\"${job.applyUrl}\" style=\"display:inline-block; background:#00a8e8; color:white; padding:10px 24px; text-decoration:none; border-radius:5px; font-weight:600;\">\n                  Apply Now →\n                </a>\n\n                <!-- Cover Letter -->\n                <div style=\"margin-top:20px; padding-top:20px; border-top:1px solid #e0e0e0;\">\n                  <h4>💌 Your Cover Letter</h4>\n                  <div style=\"background:#fff; border:1px solid #e0e0e0; padding:20px; border-radius:6px; white-space:pre-line; line-height:1.6;\">\n                    ${job.coverLetter}\n                  </div>\n                </div>\n              </div>\n              ` : '<p>No job found.</p>'}\n\n              <!-- Tips -->\n              ${jobData.applicationTips ? `\n              <div style=\"background:linear-gradient(135deg,#667eea 0%,#764ba2 100%); color:white; border-radius:8px; padding:20px;\">\n                <h3 style=\"margin:0 0 15px 0;\">💡 Application Tips</h3>\n                <p>📅 Best Time: ${jobData.applicationTips.bestTime}</p>\n                <p>🎯 Keywords: ${(jobData.applicationTips.keywords || []).join(', ')}</p>\n                <p>📧 Follow-up: ${jobData.applicationTips.followUp}</p>\n              </div>\n              ` : ''}\n            </td>\n          </tr>\n\n          <!-- Footer -->\n          <tr>\n            <td style=\"background:#f8f9fa; padding:30px; text-align:center; border-radius:0 0 10px 10px;\">\n              <p style=\"margin:0; color:#999; font-size:12px;\">\n                Generated by khmuhtadin.com | ${new Date().toLocaleDateString()}\n              </p>\n            </td>\n          </tr>\n\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>\n`;\n\n// Ambil email user dari workflow sebelumnya\nconst userEmail = $('Prepare Data').first().json.userEmail;\n\nreturn {\n  htmlEmail,\n  userEmail,\n  jobData\n};\n"
      },
      "id": "479f5e69-f7f5-45af-ad82-8e54c38080c4",
      "name": "Generate HTML Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        112
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "=Your Job MATCH!",
        "message": "={{ $json.htmlEmail }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "5e5ac194-febc-487f-9ffe-689795318d2e",
      "name": "Send a message",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -352,
        112
      ],
      "webhookId": "f8fd58d8-4038-4e45-b7df-261ab2cfcddc"
    },
    {
      "parameters": {
        "jsCode": "let raw = $json.output || \"\";\n\n// Clean markdown fences if they exist\nraw = raw.replace(/```json/g, '').replace(/```/g, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  parsed = { error: \"Failed to parse JSON\", raw };\n}\n\nreturn parsed;\n"
      },
      "id": "0a373370-756f-415a-93f1-54ec000ccfed",
      "name": "Parse Agent Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        112
      ]
    },
    {
      "parameters": {
        "content": "## ⚠️ Known Limitations\n\n- **Job Sources**:\n  Currently only SerpAPI (Google Jobs) + Decodo supported.\n  Can add LinkedIn, Jobstreet, Indeed with API/connector.\n\n- **Result Count**:\n  Hard-limited to **1 job** per run (by system prompt).\n  Change prompt if you want multiple jobs.\n\n- **Parsing**:\n  If AI fails to return valid JSON → fallback is `{ error: ... }`.\n  Email will show \"No job found\".\n\n- **Email Output**:\n  Gmail API required in n8n.\n  Make sure OAuth2 refresh tokens are valid.\n",
        "height": 528,
        "width": 420,
        "color": 7
      },
      "id": "796f1c09-9509-4464-98c2-899ad0016cd5",
      "name": "Sticky Note - How It Works1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1376,
        416
      ]
    },
    {
      "parameters": {
        "content": "![Inbox 1](https://raw.githubusercontent.com/khmuhtadin/n8n-template/main/Website/%20JOB%20Hunter/inbox1.PNG)\n",
        "height": 912,
        "width": 432,
        "color": 4
      },
      "id": "46e8d956-aa7c-40aa-8048-3155146b7e1a",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2800,
        400
      ]
    },
    {
      "parameters": {
        "content": "![Inbox 2](https://raw.githubusercontent.com/khmuhtadin/n8n-template/main/Website/%20JOB%20Hunter/inbox%202.PNG)\n",
        "height": 912,
        "width": 432,
        "color": 4
      },
      "id": "29216d42-0a6c-422f-b33f-177e054d159f",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2336,
        400
      ]
    },
    {
      "parameters": {
        "content": "![Inbox 3](https://raw.githubusercontent.com/khmuhtadin/n8n-template/main/Website/%20JOB%20Hunter/inbox3.PNG)",
        "height": 912,
        "width": 432,
        "color": 4
      },
      "id": "4f5973c0-fa1d-4bc0-ad35-528a2e7eaf03",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1888,
        400
      ]
    },
    {
      "parameters": {
        "content": "## ☕ Appreciate This Workflow?\n\nSupport the creator by sending coffee:\n\n**PayPal:** [paypal.me/khmuhtadin](https://paypal.me/khmuhtadin)\n\nThank you! 🚀",
        "height": 100,
        "width": 370,
        "color": 3
      },
      "id": "2b8aed37-7c9a-4440-8665-e779be041db5",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1376,
        1200
      ]
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract CV from PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract CV from PDF": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "Adzuna Job Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adzuna Job Search": {
      "main": [
        [
          {
            "node": "Job Hunter Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq LLaMA": {
      "ai_languageModel": [
        [
          {
            "node": "Job Hunter Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Job Hunter Agent": {
      "main": [
        [
          {
            "node": "Parse Agent Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Agent Output": {
      "main": [
        [
          {
            "node": "Generate HTML Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate HTML Email": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
